<div class="p-3">
    <h3>Recept feltöltés</h3>
    <hr> 
    <h4>Kategóriák</h4>
    <select class="form-select form-select-lg mb-3" aria-label="Kategóriák" id="categoryChoser">
        <!-- Kategoriák itt-->
    </select>
   
   
    <div id="recipe-form" class="mb-3" >
        <h4>Új recept hozzáadása</h4>
        <form id="add-recipe-form">
            <input type="text" id="recipeTitle" placeholder="Név" required class="form-control mb-3">
            <textarea id="recipeDesc" placeholder="Leírás" required class="form-control mb-3"></textarea>
            <input type="number" id="recipeTime" placeholder="Elkészítési idő (perc)" required class="form-control mb-3">
            <input type="text" id="recipeAdditions" placeholder="Hozzávalók" required class="form-control mb-3">
            <input type="number" id="recipeCalorie" placeholder="Kalória" required class="form-control mb-3">
            <button type="submit" class="btn btn-primary" onclick="recipeAdd()">Recept hozzáadása</button>
        </form>
    </div>

   


    
</div>