<div class="p-3">
    <h3>Bejelentkezés</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="jani@jani.jani">
        <label for="email">E-mail cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Jelszó">
        <label for="passwd">Jelszó</label>
    </div>
    
    <button class="btn btn-primary mb-3" onclick="login()">Bejelentkezés</button>
</div>