<div class="p-3">
    <h3>Receptek</h3>
    <hr>

    <h4>Kategóriák</h4>
    <select class="form-select form-select-lg mb-3" aria-label="Kategóriák" id="categorySelector">
        <!-- Kategoriák itt-->
    </select>
    <hr>
    <div class="container mt-5">
        <div id="recipes-list" class="row"></div>
    </div>
    



    <div class="form-popup" id="myModify">
        <form id="modifyForm" class="form-container">
            <h1>Módosítás</h1>
    
            <label for="title"><p>Név</p></label>
            <input type="text" placeholder="Add meg a nevét" id="title" required>
    
            <label for="description"><p>Leírás</p></label>
            <input type="text" placeholder="Add meg a leírást" id="description" required>
    
            <label for="time"><p>Elkészítési idő</p></label>
            <input type="number" placeholder="Add meg az elkészítési időt" id="time" required>
    
            <label for="additions"><p>Hozzávalók</p></label>
            <input type="text" placeholder="Add meg a hozzávalókat" id="additions" required>
    
            <label for="calorie"><p>Kalória</p></label>
            <input type="number" placeholder="Add meg a kalóriát" id="calorie" required>
    
            <button class="btn btn-primary btn-sm mb-3">Módosít</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="closeForm()">Bezár</button>
        </form>
    </div>
    
    

</div>
