<div class="p-3">
    <h3>Regisztráció</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Varga János">
        <label for="name">Név</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="jani@jani.jani">
        <label for="email">E-mail cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="tel" class="form-control" id="phone" placeholder="30 70 420 769">
        <label for="phone">Telefonszám <small class="text-muted">(nem kötelező)</small></label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="">
        <label for="passwd">Jelszó</label>  
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="">
        <label for="confirm">Jelszó megerősítés</label>
    </div>
    <button class="btn btn-primary mb-3" onclick="regisztracio()">Regisztráció</button>
</div>
